* {
    margin:0; padding:0;
  }
  header {
    height: 40px;
    width: 100%;
    padding: 15px 0;
    background-color: #180085;
    color: white;
  }
  header .headline{
      line-height: 40px;
      float: left;
      font-size: 20px;
      margin-left: 100px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  .class1{
    background-color:black;

  }

  .class2{
    background-color:rgb(132, 151, 255);

  }
  
  th, td {
    border: solid 1px #333; /* 線の種類 太さ 色 */
  }